%html{:lang=>'en'}
  %head
    %title Yay!
    %script{:src=>'/js/jquery-1.7.1.min.js'}
    %script{:src=>'/js/handlebars.js'}
    %link{:rel=>'stylesheet', :href=>'/css/styles.css'}
    
    
  %body
    #container
      %header
        %h1
          %a{:href=>'/'} Unicycle
          
      %navigation
        %ul
        
      #content        
        = yield
        
    %footer
