<!DOCTYPE html>
%html{:lang=>'en-GB', :dir=>'ltr'}
  %head
    %title Unicycle
    %meta{:charset=>'utf-8'}
    %meta{:name=>'viewport', :content=>'width=device-width, initial-scale=1.0'}
    %script{:src=>'/js/jquery-1.7.1.min.js'}
    %script{:src=>'/js/handlebars.js'}
    %link{:rel=>'stylesheet', :href=>'/css/styles.css', :media=>'all'}
    
  %body{:onload=>'setTimeout(function() { window.scrollTo(0, 1) }, 100)'}
    %header
      %div.container
        %div.row
          %div.twocol
          %div.eightcol
            %h1
              %a{:href=>'', :title=>'Catalogue of UTF-8 characters'} Unicycle
            
            %form#search{:method => :get}
              %label{:for => 'term'}
              %input#term{:type => 'text', :name => 'term', :value => @term}
              %input{:type => 'submit', :value => 'Search', :class => 'submit'}
              
            %a{:href=>'', :class=>'settings activateLightbox'} Settings

            //%h3 TODO - add pagination by looking at the returned pagination object in the json
          %div.twocol.last
       
    %section     
      %div.container
        %div.row
          %div.twocol
          %div.eightcol
          
            #pagination
            
            %ul#chars
            = yield
            
          %div.twocol.last  
        
    %footer     
      %div.container
        %div.row
          %div.twocol
          %div.eightcol
            
            // Pagination
            
          %div.twocol.last
        
    %script{:src=> 'js/webapp.js'}
    
    %section     
      %div.container
        %div.row
          %div.twocol
          %div.eightcol
            %div.lightboxContainer
              %div.lightbox
                %div.lightboxContent
                  %p Unicycle
                %a{:href=>'', :class=>'button closeLightbox'} &#735;
              
          %div.twocol.last     