<!DOCTYPE html>
%html{:lang=>'en-GB', :dir=>'ltr'}
  %head
    %title Unicycle
    %meta{:charset=>'utf-8'}
    %meta{:name=>'viewport', :content=>'width=device-width, initial-scale=1.0'}
    %script{:src=>'/js/jquery-1.7.1.min.js'}
    %script{:src=>'/js/handlebars.js'}
    %link{:rel=>'stylesheet', :href=>'/css/styles.css', :media=>'all'}
    
  %body{:onload=>'setTimeout(function() { window.scrollTo(0, 1) }, 100)'}
    %header
      %div.box
        %div.container
          %h1{:title=>'Unicycle is a catalogue of UTF-8 characters'} Unicycle
	            
          %form#search{:method => :get}
            %label{:for => 'term'}
            %input#term{:type => 'text', :name => 'term', :value => @term}
            %input{:type => 'submit', :value => 'Search', :class => 'submit'}
	              
          %a{:href=>'/info', :class=>'settings activateLightbox'} Settings
	       
    %section
      %div.box
        %div.container
          %ul#chars
          = yield
          
    %footer
      %div.box    
        %div.container
          #pagination
	          
    %aside.noscript
      %div.box
        %div.container
          %p
            %span JavaScript is not active.
            It'll need to be active so you can interact with Unicycle's content.
	                   
    %div.lightboxContainer
      %div.box
        %div.container
          %div.lightbox
            %h2 unicycle
            %h3 unicycle is unicode &#8211; nothing more, nothing less
            %p
              &#169; MTMM &#8211;
              %a{:href=>'http://robsalter.co.uk'} Mind That Mind Mind
              has scratched another itch.
              Thanks to
              %a{:href=>'http://woodpigeon.com'} woodpigeon
              for code help and hosting.
            %a{:href=>'', :class=>'lightboxClose'} Close
	      
    %script{:src=> 'js/webapp.js'}