<script id="chars_template" type="text/x-handlebars-template">
<li>
<dl>
<dt class="description">{{description}}</dt>
<dd class="code">{{code}}</dd>
<dd class="hex">{{hex}}</dd>
<dd class="ref">{{ref}}</dd>
</dl>
</li>
</script>
